{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
# --- Linux Zsh Plugins Installation ---
echo "==> Verifying Zsh plugins via Oh My Zsh..."

ZSH_CUSTOM=${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}

install_plugin() {
    if [ ! -d "$ZSH_CUSTOM/plugins/$1" ]; then
        echo "    [!] Installing $1..."
        git clone https://github.com/$2 "$ZSH_CUSTOM/plugins/$1"
    else
        echo "    [✓] $1 is already installed."
    fi
}

install_plugin "zsh-syntax-highlighting" "zsh-users/zsh-syntax-highlighting.git"
install_plugin "zsh-autosuggestions" "zsh-users/zsh-autosuggestions.git"
install_plugin "you-should-use" "MichaelAquilina/zsh-you-should-use.git"
install_plugin "evalcache" "mroth/evalcache.git"

echo "==> Zsh plugins verification complete."
{{ end -}}
